<footer class="footer">
    <h2>مطلعون</h2>
    <!-- start important links -->
    <!-- <section class="important-links">
      <h3>ارتباطات مهمة</h3>
      <a href="html/corses.html">الدورات التدريبية</a>
    </section> -->
    <!-- ind important links -->
    <!-- start comtemt us -->
    <section class="contact-us">
      <h3>تواصل معنا</h3>
      <a href="">
        <img src="img/instagram.PNG" alt="instagram" />
      </a>
      <a href="">
        <img src="img/telegram.jpg" alt="telegram" />
      </a>
      <a href="">
        <img src="img/whatsApp.jpg" alt="whatsApp" />
      </a>
      <a href="">
        <img src="img/youtube.jpg" alt="youtube" />
      </a>
    </section>
    <!-- ind comtemt us -->
    <!-- start copy wright -->
    <section class="copy-wright">
      <span>&copy;</span>
      <p>2021</p>
      <span>حقوق النشر محفوظة</span>
    </section>
    <!-- ind copy wright -->
  </footer>
