{% load static %}
<footer class="footer">
    <h2 class="text-center">منصة النور الإلكترونية.</h2>
    <!-- start important links -->
    <!-- <section class="important-links">
      <h3>ارتباطات مهمة</h3>
      <a href="html/corses.html">الدورات التدريبية</a>
    </section> -->
    <!-- ind important links -->
    <!-- start comtemt us -->
    <section class="contact-us">
      <h3 class="text-center">تابعنا</h3>
      <a href="https://instagram.com/alnoor_school_boys?igshid=YmMyMTA2M2Y=" class="text-center">تابعنا على instagram</a>
    </section>
    <!-- ind comtemt us -->
    <div>
      <p class="text-center">مدير المدرسة:</p>
      <p>الأستاذ المربي الفاضل / منصور العنزي.</p>
    </div>
    <!-- start copy wright -->
    <section class="copy-wright">
      <span>&copy;</span>
      <p>2023</p>
      <span>حقوق النشر محفوظة</span>
    </section>
    <!-- ind copy wright -->
  </footer>
