{% load static %}
<nav class="navbar navbar-expand-lg navbar-danger bg-danger sticky-top">
  <a href="#" class="navbar-brand">
    <img src="{% static "img/alnoor_logo.png" %}" alt="" style="width:40px">

  </a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">الرئيسيةكتب docx</a>
      </li>
      <li class="nav-item">
        <a href="{% url "study_stages" %}" class="nav-link">ركن الدراسة</a>
      </li>
      <li class="nav-item">
        <a href="{% url "scool_brogram_stages" %}" class="nav-link">الجدول المدرسي</a>
      </li>
      <li class="nav-item">
        <a href="{% url "forums" %}" class="nav-link">المنتديات</a>
      </li>
      <li class="nav-item">
        <a href="{% url "contents_categories" %}" class="nav-link">المحتويات</a>
      </li>
      <li class="nav-item">
        <a href="{% url "newz_articles" %}" class="nav-link">الأخبار</a>
      </li>
      <li class="nav-item">
        <a href="{% url "about" %}" class="nav-link">عنا</a>
      </li>
    
  </ul>
  </div>
</nav>