{% extends "base.html" %}
{% block content %}
<section class="home">
    <!-- start alert -->
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">شكرًا لزيارتكم</h4>
      <p>إن شاء الله ستجدون كل ما تحتاجون</p>
    </div>
    <!-- ind alert -->
    <!-- start page header -->
    <header class="main-header">
      <h1 class="text-center">منصة النور الإلكترونية</h1>
      <p>
        بسم الله الرحمن الرحيم, مرحبًا بكم في منصة النور الإلكترونية.
      </p>
        
      <!-- start today advertisement -->
      <!-- <section class="todayAdvertisement">
        <h2>طاحت نسبتك أو ارتفعت وتبي تحافظ عليها أو تعدلها:</h2>
        <p>اسمع كلام الأستاذ/معاذ الشلال.</p>
        <a
          href="https://www.instagram.com/tv/CYt-Oqhh9jb/?utm_medium=copy_link"
          class="advertisementLink"
          >من هنا</a
        >
      </section> -->
      <!-- end today advertisement -->
    </header>
    <!-- ind page header -->
    <!-- start gols -->
    <section class="gols">
      <h2 class="text-center">أهداف المنصة</h2>
      <ul class="gols-list">
        <li>توفير الوقت على المعلم, المتعلم, ولي الأمر</li>
        <li>تقديم خدمات رقمية مميزة</li>
        <li>توفير الوسائل الدراسسية بأسلوب عصري</li>
      </ul>
    </section>
    <!-- ind gols -->
    <!-- start services -->
    <section class="services">
      <h2 class="text-center">الخدمات</h2>
      <ul>
        <li>الدروس بوسائل مقروءة, صوتية, ومرئية</li>
        <li>االجدول المدرسي</li>
        <li>قسم المنتدى للمناقشة</li>
        <li>قسم الأخبار لعرض جديد أخبار المدرسة</li>
      </ul>
    </section>
    <!-- ind services -->
    <!-- start statistics -->
    <!-- <section class="statistics">
      <h2>الإحصائيات</h2>
      <p>كتب الdocx المرفوعة</p>
      <span>30</span>
      <p>كتب الpdf المرفوعة</p>
      <span>86</span>
    </section> -->
    <!-- ind statistics -->
  </section>

    {% endblock %}