{% extends "base.html" %}
{% block content %}
<section class="home">
    <!-- start alert -->
    <div class="alert alert-success" role="alert">
      <strong
        >بسم الله الرحمن الرحيم, نرجو منكم إن كان هناك أي مقترحات أو تواجهون
        أي مشكلة التواصل عبر الواتسآب</strong
      >
      <a href="#" class="alert-link">من هنى</a>
    </div>
    <!-- ind alert -->
    <!-- start page header -->
    <header class="main-header">
      <h1>مطلعون</h1>
      <p>
        السلام عليكم ورحمة الله وبركاته, مرحبا بكم في مطلعون وهو موقع يمكنكم
        من الوصول إلى المواد العلمية التي يحتاجها كل طالب / معلم في (وزارة
        التربية \دولة الكويت)
      </p>
      <!-- start today advertisement -->
      <section class="todayAdvertisement">
        <h2>طاحت نسبتك أو ارتفعت وتبي تحافظ عليها أو تعدلها:</h2>
        <p>اسمع كلام الأستاذ/معاذ الشلال.</p>
        <a
          href="https://www.instagram.com/tv/CYt-Oqhh9jb/?utm_medium=copy_link"
          class="advertisementLink"
          >من هنا</a
        >
      </section>
      <!-- end today advertisement -->
    </header>
    <!-- ind page header -->
    <!-- start gols -->
    <section class="gols">
      <h2>أهداف مطلعون</h2>
      <ul class="gols-list">
        <li>توفير وسائل دراسية</li>
        <li>تسهيل الدراسة للمكفوفين</li>
        <li>توفير الوقت</li>
      </ul>
    </section>
    <!-- ind gols -->
    <!-- start services -->
    <section class="services">
      <h2>الخدمات</h2>
      <!-- start services container -->
      <div class="services-container">
        <!-- start service -->
        <div class="service">
          <i class="fas fa-file-word"></i>
          <h3>كتب docx,</h3>
          <p>الكتب الدراسية بصيغة docx.</p>
        </div>
        <!-- ind service -->
        <!-- start service -->
        <div class="service">
          <i class="fas fa-file-pdf"></i>
          <h3>كتب pdf,</h3>
          <p>الكتب الدراسية بصيغة pdf.</p>
        </div>
        <!-- ind service -->
      </div>
      <!-- ind services container -->
    </section>
    <!-- ind services -->
    <!-- start statistics -->
    <section class="statistics">
      <h2>الإحصائيات</h2>
      <p>كتب الdocx المرفوعة</p>
      <span>30</span>
      <p>كتب الpdf المرفوعة</p>
      <span>86</span>
    </section>
    <!-- ind statistics -->
  </section>

    {% endblock %}