{% extends "base.html" %}
{% block content %}
<section class="page-content">
    <div class="study-terms">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
            <details class="btn btn-lg btn-block btn-warning">
                <summary>إضافة فصل دراسي</summary>
                <div class="container-fluid bg-dark">
                    <h2 class="text-center">إضافة فصل دراسي</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">اسم الفصل الدراسي:</label>
                            <input id="name" class="form-control" type="text" name="name">
                        </div>
                        <div class="form-check">
                            <input id="my-input" class="form-check-input" type="checkbox" name="is_active" value="True">
                            <label for="my-input" class="form-check-label">المرحلة الدراسية عامة</label>
                                  </div>
                                  <input type="submit" value="إضافة" class="btn btn-lg btn-block btn-info">       
                    </form>                    
                </div>
            </details>
        </div>
        {% endif %}
        <h2 class="text-center">ركن الدراسة > اختر الفصل الدراسي:</h2>
        <div class="study-terms-container">
            {% for study_terms_loop in study_terms %}
            <a href="{% url "study_subjects" study_terms_loop.pk %}" class="class">{{ study_terms_loop.study_term_name }}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}