{% extends "base.html" %}
{% block content %}
<section class="page-content">
    <div class="sections">
        <div class="container-fluid">
            <details class="btn btn-lg btn-block btn-warning">
                <summary>إضافة مرحلة</summary>
                <div class="container-fluid bg-dark">
                    <h2 class="text-center">إضافة صف</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">اسم الشعبة:</label>
                            <input id="name" class="form-control" type="text" name="name">
                        </div>
                        <div class="form-check">
                            <input id="my-input" class="form-check-input" type="checkbox" name="is_active" value="True">
                            <label for="my-input" class="form-check-label">الشعبة عامة</label>
                                  </div>
                                  <input type="submit" value="إضافة" class="btn btn-lg btn-block btn-info">       
                    </form>                    
                </div>
            </details>
        </div>

    </div>
    <h2 class="text-center">الجدول المدرسي > اختر الشعبة:</h2>
    <div class="sections-container">
        {% for sections_loop in sections %}
        <a href="{% url "scool_brogram_lessons" sections_loop.pk %}" class="class">{{ sections_loop.section_name }}</a>
        {% endfor %}
    </div>
</section>
{% endblock %}