{% extends "base.html" %}
{% block content %}
<section class="page-content">
    <h2 class="text-center">الأخبار</h2>
    {% for articles_loop in articles %}
    <div class="card bg-dark">
        <div class="card-body">
                <div class="container-fluid bg-light">
                <h3 class="card-title">{{ articles_loop.article_name }}</h3>
                <p class="card-text">{{ articles_loop.article_created_by }}, {{ articles_loop.article_category }}, {{ articles_loop.article_publish_in }}</p>
                <a href="{% url "newz_article" articles_loop.pk %}" class="text-center btn btn-info">قراءة المزيد...</a>
            </div>
        </div>
    
    </div>
    {% endfor %}
</section>
{% endblock %}